@model List<AppUser>
@inject LanguageService language

<h1>@language.Getkey("RoleList")</h1>
<div class="col-md-8">
    <table class="table table-bordered">
        <tr>
            <th>@language.Getkey("User")</th>
            <th>@language.Getkey("AddRole")</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td><a href="/AdminRol/AssignRole/@item.Id" class="btn btn-outline-warning"></a>@language.Getkey("AddRole")</td>
            </tr>
        }
    </table>
</div>
<a href="/AdminRol/Index" class="btn btn-primary">@language.Getkey("BackRole")</a>
