@model MovieComment
@inject LanguageService language


<head>
    <title>Bootstrap 5 Star Rating jQuery Plugin Example</title>

    <!-- default styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme CSS files as mentioned below (and change the theme property of the plugin) -->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <!-- important mandatory libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme JS files as mentioned below (and change the theme property of the plugin) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your own locale file) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>
</head>
@{
    int toplam = 0;
}

@foreach (var c in Model.Stars)
{
    if (c.MovieId == Model.Movies.MovieId)
    {
        toplam += c.StarValue;

    }

}
@{
    int ortalama = 0;
    if(Model.Stars.Count()==0)
    {
        ortalama = 0;
    }
    else
    {
        ortalama= toplam / Model.Stars.Count();
    }
}


<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Movies.ImageUrl" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Movies.Title</h5>
                <p class="card-text">@Html.Raw(Model.Movies.Description)</p>
                <input id="input-7-xs" class="rating rating-loading" value="@ortalama" data-readonly="true" />

            </div>

        </div>
        <div class="container">
            <form action="/Star/CreateStar" method="post">
                <label for="input-1" class="control-label">@language.Getkey("Rate")</label>
                <input type="number" id="input-1" name="input1" class="rating rating-loading" data-min="0" data-max="5" data-step="1">
                <input type="hidden" id="MovieId" class="form-control" name="MovieId" value="@Model.Movies.MovieId" />
                <button type="submit" class="btn btn-primary">@language.Getkey("Submit")</button>&nbsp;
                
            </form>
        </div>



    </div>
    <section>
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    @foreach (var c in Model.Comments)
                    {
                        if (c.MovieId == Model.Movies.MovieId)
                        {
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>@c.comment</p>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/img/user.png" alt="avatar" width="25"
                                         height="25" />
                                    <h7 class="fw-bold text-primary mb-1">@c.Name</h7>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                        }

                    }
                    
                    <br />
                    
                    <form action="/Comment/CreateComment" method="post" class="form-control">
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            <div class="form-outline mb-4">
                                <input type="text" id="Name" class="form-control" name="Name" />
                                <input type="hidden" id="MovieId" class="form-control" name="MovieId" value="@Model.Movies.MovieId" />
                                <label class="form-label" for="loginName">Adınız</label>
                            </div>
                            <div class="d-flex flex-start w-100">

                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="~/img/user.png" alt="avatar" width="40"
                                     height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="comment " rows="4" name="comment"
                                              style="background: #fff;"></textarea>
                                    <label class="form-label" for="textAreaExample">@language.Getkey("Comment")</label>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">@language.Getkey("Submit")</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">@language.Getkey("Exit")</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>




