@model Movie
@inject LanguageService language

<div class="card mb-3">
    <div class="row ">
        <div class="col-md-3">
            <img src="~/img/@Model.ImageUrl" alt="@Model.Title" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Html.Raw(Model.Description)</p>
                <div>
                    <a class="btn btn-primary" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieId">@language.Getkey("Details")</a>

                </div>
            </div>
        </div>
    </div>
</div>


