@model MovieComment
    

        <head>
            <link rel=”stylesheet” type=”text/css” href="~/css/style.css"/>
        </head>

    
<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Movies.ImageUrl" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Movies.Title</h5>
                <p class="card-text">@Html.Raw(Model.Movies.Description)</p>
            </div>

        </div>
        <div class="wrap">
            <div class="stars">
                <label class="rate">
                    <input type="radio" name="radio1" id="star1" value="star1">
                    <div class="face"></div>
                    <i class="far fa-star star one-star"></i>
                </label>
                <label class="rate">
                    <input type="radio" name="radio1" id="star2" value="star2">
                    <div class="face"></div>
                    <i class="far fa-star star two-star"></i>
                </label>
                <label class="rate">
                    <input type="radio" name="radio1" id="star3" value="star3">
                    <div class="face"></div>
                    <i class="far fa-star star three-star"></i>
                </label>
                <label class="rate">
                    <input type="radio" name="radio1" id="star4" value="star4">
                    <div class="face"></div>
                    <i class="far fa-star star four-star"></i>
                </label>
                <label class="rate">
                    <input type="radio" name="radio1" id="star5" value="star5">
                    <div class="face"></div>
                    <i class="far fa-star star five-star"></i>
                </label>
            </div>
        </div>

    </div>
    <section>
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-start align-items-center">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="~/img/user.png" alt="avatar" width="60"
                                     height="60" />
                                <div>

                                    @foreach (var c in Model.Comments)
                                    {
                                        if (c.MovieId == Model.Movies.MovieId)
                                        {
                                            <h6 class="fw-bold text-primary mb-1">
                                                @c.Name
                                            </h6>
                                            <div>
                                                @c.comment
                                            </div>

                                        }

                                    }
                                    <br />



                                </div>
                            </div>
                        
                        </div>
                        <form action="/Comment/CreateComment" method="post" class="form-control">
                            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                <div class="form-outline mb-4">
                                    <input type="text" id="Name" class="form-control" name="Name" />
                                    <input type="hidden" id="MovieId" class="form-control" name="MovieId" value="@Model.Movies.MovieId" />
                                    <label class="form-label" for="loginName">Adınız</label>
                                </div>
                                <div class="d-flex flex-start w-100">

                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="~/img/user.png" alt="avatar" width="40"
                                         height="40" />
                                    <div class="form-outline w-100">
                                        <textarea class="form-control" id="comment " rows="4" name="comment"
                                                  style="background: #fff;"></textarea>
                                        <label class="form-label" for="textAreaExample">Yorum</label>
                                    </div>
                                </div>
                                <div class="float-end mt-2 pt-1">
                                    <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                                    <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@if (TempData["Message"] != null)
{
    @section message
    {
        @await Html.PartialAsync("_message", (string)TempData["Message"])
    }
}
