@model RoleUpdateViewModel
@inject LanguageService language

<h1>@language.Getkey("EditRole")</h1>

<form method="post">
    <div class="form-group">
        <label>Role Id</label>
        <input type="text" name="Id" value="@Model.Id" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>@language.Getkey("RoleTitle")</label>
        <input type="text" name="name" value="@Model.name" class="form-control" />
    </div>

    
    <button class="btn btn-info">@language.Getkey("Update")</button>
</form>
